.messageBox {
  background-color: #8f2c31; /* SectionGreyDark */
  border-bottom: 2px solid #5d161a;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 0 10px;

  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.73);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}
.messageStyle {
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}
/* ***** MOBILE ***** */
/* @media (max-width: 700px) {
    .messageBox {

      }
      .messageStyle {

      }
  } */
