/* ***** MOBILE ***** */
/* @media (max-width: 700px) {} */

.colorsWebSite {
  color: #ae6e3d; /* GOLD FONT */
  color: #63fbe5;
  color: #8f2c31;
  color: #0155a0; /* hover */
  color: #4d7994; /* Section Title */
  color: #444444;
  color: #fb5f2e; /* DISCOUNT */
  background-color: #31ae75;
  color: #e8ba3c;
  background-color: #145a83; /* Comprar Declaração Box */
  background-color: #033959; /* FOOTER */
  background-color: #f3f3f3; /* SectionGrey */
  background-color: #535353; /* SectionGreyDark */
  background-color: #145a83; /* SectionBlueDark */
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.AppContainer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background-color: white;
  /* Next will improve the font quality: */
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
}
html {
  height: 100%;
  margin: 0;
}

input,
button,
textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
p,
div,
a,
ul,
li,
html,
iframe,
button {
  padding: 0;
  margin: 0;
}

/* a,
ul,
li {
  list-style-type: none;
  text-decoration: none;
} */
a {
  list-style-type: none;
  text-decoration: none;
}

/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
